
          /* body */


body{
margin: 0 !important;
padding: 0 !important;
perspective: 1px;
transform-style: preserve-3d;
height: 100%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}


          /* Nav bar */


          nav
          {
            position: absolute;
            width: 319px;
            margin: 1% 3%;
          }

          nav a
          {
            position: relative;
            width: 33.333%;
            display: table-cell;
            text-align: center;
            color: #949494;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            padding: 10px 20px;
            transition: 0.2s ease color;
          }

          nav a:before, nav a:after
          {
            content: "";
            position: absolute;
            border-radius: 50%;
            transform: scale(0);
            transition: 0.2s ease transform;
          }

          nav a:before
          {
            top: 0;
            left: 10px;
            width: 6px;
            height: 6px;
          }

          nav a:after
          {
            top: 5px;
            left: 18px;
            width: 4px;
            height: 4px
          }

          nav a:nth-child(1):before
          {
            background-color: yellow;
          }

          nav a:nth-child(1):after
          {
            background-color: red;
          }

          nav a:nth-child(2):before
          {
            background-color: #00e2ff;
          }

          nav a:nth-child(2):after
          {
            background-color: #89ff00;
          }

          nav a:nth-child(3):before
          {
            background-color: purple;
          }

          nav a:nth-child(3):after
          {
            background-color: palevioletred;
          }

          #indicator
          {
            position: absolute;
            left: 5%;
            bottom: 0;
            width: 30px;
            height: 3px;
            background-color: #fff;
            border-radius: 5px;
            transition: 0.2s ease left;
          }

          nav a:hover
          {
            color: #fff;
          }

          nav a:hover:before, nav a:hover:after
          {
            transform: scale(1);
          }

          nav a:nth-child(1):hover ~ #indicator
          {
            background: linear-gradient(130deg, yellow, red);
          }

          nav a:nth-child(2):hover ~ #indicator
          {
            left: 34%;
            background: linear-gradient(130deg, #00e2ff, #89ff00);
          }

          nav a:nth-child(3):hover ~ #indicator
          {
            left: 70%;
            background: linear-gradient(130deg, purple, palevioletred);
          }

          #ytd-url {
          display: block;
          position: fixed;
          right: 0;
          bottom: 0;
          padding: 10px 14px;
          margin: 20px;
          color: #fff;
          font-family: Arial;
          font-size: 14px;
          text-decoration: none;
          background-color: #000;
          border-radius: 4px;
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
          z-index: 125;
          }


           /* sections */
.section1, .section3,.section5,.section-About,.section-Contact{
  height: 100vh;
  background-attachment:   fixed;
  background-size: cover;

}
.section2,.section4{
background-color:#393e46;
display: flex;
justify-content: center;
padding: 20px;
}
.section6{
  text-align: center;
  background-color:#393e46;
}

.border-top{
  justify-content: center;
  align-items: center;
  display: flex;
  height:100%;
  border: none !important;
}
              /* section1 */



 .section1{
  background-image: url("../edit.jpg");
 }
 .Tagline{
   text-align: center;
 }

 .WNTLOGO {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
 .wntlogo{
     text-decoration: none !important;
     border-style: solid;
     border-width: medium;
     margin:20px;
     padding: 13px;
     font-size: 1.7rem;
     transition: 0.3s;
     padding-left: 70px;
     padding-right:70px;
 }
 .wntlogo:hover{
 color: black !important;
   border-style: none;
   background-color: white;
   transition: 0.3s;
   padding-left: 90px;
   padding-right:90px;
 }



                       /* section2 */


.title{
  width:500px;
  padding: 25px;
  /* padding-top: 45px; */
}
.vector1{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 25px;
}
.section2{
}

                          /*section3 */


  .section3{
    background-image: url("../edit2.jpg");
    align-items: center;
    display: flex;
    justify-content: center;

  }
 .title3,.advice{

 }
  .title3{
    margin-bottom: 0;
    font-size: 9vh !important;
    color: #11698e !important;
  }
  h2.title3:: after{
    content: close-quote;
    border-bottom:solid 5px white;

  }

  .center{
    background-color: #393e4685;
    text-align: center;
    margin: 40px;
  }

  .b{
    border-bottom: solid 2px white;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  }






                          /*section4*/

.title4{
  width:500px;
  padding: 25px;
  padding-top: 45px;
}
.vector2{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 60px;
}


                         /*section5*/

 .section5{
   background-image: url("../edit3.jpg");
 }
 .container {
   display: flex;
   width: 100%;
   padding: 4% 2%;
   box-sizing: border-box;
   height: 100vh;
 }

 .box {
   flex: 1;
   overflow: hidden;
   transition: .5s;
   margin: 0 2%;
   box-shadow: 0 20px 30px rgba(0,0,0,.1);
   line-height: 0;
 }

 .box > img {
   width: 200%;
   height: calc(100% - 10vh);
   object-fit: cover;
   transition: .5s;
 }

 .box > span {
   font-size: 3.8vh;
   display: block;
   text-align: center;
   height: 10vh;
   line-height: 2.6;
 }

 .box:hover { flex: 1 1 50%; }
 .box:hover > img {
   width: 100%;
   height: 100%;
 }
       /* section6 */

 .title6{
   align-items: center;
   text-align: center;
   float: right;
  }
  .vector4{

  }
  .section6{
  height: 15vh;
  display: flex;
  justify-content: center;
  padding: 10px;
  }
 .mail,.fb{
   display: inline-block;
   padding: 7px;
 }
 svg{
   transition: 0.1s;
 }
 svg:hover{
   color: gray !important;
   transition: 0.1s;
 }
          /* section-About */

.section-About{
background-image: url("../About.jpg");
display: flex ;
justify-content: center;
align-items: center;
}
.paper {
    display: flex;
    align-items: center;
    background-color: #393e4675 !important;
    width: 100%;
}
.row{
  justify-content: center;
  /* width: 100%;
  height: 100%; */
}
.center2{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
.line {
  border-right: solid 2px white;
  height: 50%;
  width: 1%;
}
.middl{
  width: 40%;
}

               /* section-Contact */


.section-Contact{
background-image: url("../Contact.jpg");

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: 0.3s
}

.fa:hover {
    opacity: 0.3;
    transition: 0.3s
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}



                /* sections chillds */


.title,.title2,.title3,.title4,.title5{
  /* height: 35vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

img{
  width: 200px;
  height: auto;
}
           /* Types */
h1,h2,h3,h4,h5,h6,.wntlogo,a,li,ul,span,hr,label{
  color: white !important;
  text-decoration: none !important;
   font-weight: 300 !important;
}
h1 {
  font-size: 5.5rem !important;
}
h2 {
  font-size: 2.4rem !important;
}
h3{
  margin-bottom: 0 !important;
  font-size: 1.7rem !important;
}
hr{
  border-bottom: solid 2px;
  margin-right: 30%;
}
.do-it,.create{
  border-width: thick;
  border-color: white;
  border-style: solid;
  margin-left: 30%;
  margin-right: 30%;
}
.do-it{
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.create{
    border-right: none;
    border-left: none;
    border-top: none;
    padding-bottom: 2vh;
}
@media (max-width: 900px){
  h1,h2,h3,h4,h5,h6,hre{
    text-align: center;
  }
  h1 {
    font-size: 4.5rem !important;
  }
  h2 {
    font-size: 1.9rem !important;
  }
  h3{
    font-size: 1.5rem !important;
}
hr{
  margin-right: 30%;
  margin-left: 30%;
}
.vector1,.vector2{
  display: flex;
}
